
//
// Variables
// --------------------------------------------------

//== Scaffolding
$body-bg: #fff !default;
$text-color: #333 !default;
$link-color: #0090b4 !default;

//== Colors
$brand-primary: #4f9eb2 !default;
$brand-second: #e2f3f7;
$brand-third: #0090b4;

//== Typography
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-size-base: 15px !default;

$regular: 400;
$semibold: 600;
$bold: 700;

//== Navbar
$navbar-default-color: #fff !default;
$navbar-default-bg: $brand-primary !default;
$navbar-default-border: $brand-primary !default;

$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: #c6e7ef !default;
$navbar-default-link-hover-bg: $brand-primary !default;
$navbar-default-link-active-color: #c6e7ef !default;
$navbar-default-link-active-bg: $brand-primary !default;
$navbar-default-toggle-hover-bg: transparent !default;
$navbar-default-toggle-icon-bar-bg: #fff !default;
$navbar-default-toggle-border-color: $brand-primary !default;

//== Forms
$input-color-placeholder: #666 !default;
$input-border-focus: $brand-primary !default;


// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
// @import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
// @import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// Font Awesome
@import "font-awesome/font-awesome";


/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Mixins
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
	-ms-animation: $animation;
	animation: $animation;
}

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Extends
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Basic
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

a, .btn {
	outline: 0;
	@include transition(all 0.3s ease-in-out);
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Typography
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

h2 {
	font-size: 30px;
	margin-bottom: 25px;
}

h3 {
	font-size: 21px;
	margin-bottom: 25px;
}

h4 {
	font-size: 17px;
	line-height: 25px;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Forms
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.form-control {
	border-radius: 0;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Navbar
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.navbar-default {
	border: 0;
	border-radius: 0;
	margin-bottom: 60px;

	@media screen and (max-width: $screen-sm-min) {
		margin-bottom: 40px;
	}

	a {
		color: #fff;

		&:hover, &:focus {
			color: #c6e7ef;
			text-decoration: none;
		}
	}

	.navbar-left, .navbar-header {

		@media screen and (max-width: $screen-sm-min) {
			background-color: $brand-primary;
		}
	}

	.navbar-brand {
		padding-top: 0;
		position: relative;
		z-index: 1;

		img {

			@media screen and (max-width: $screen-sm-min) {
				height: auto;
				width: 55px;
			}
		}

		@media screen and (max-width: $screen-sm-min) {
			left: -15px;
		}
	}

	.navbar-nav {
		position: relative;

		@media screen and (min-width: $screen-sm-min) {
			left: 90px;
		}

		> li {

			@media screen and (max-width: $screen-sm-min) {
				border-top: 1px solid lighten($brand-primary, 5%);
			}

			> a {
				font-size: 16px;
				font-weight: $regular;
				text-transform: uppercase;

				@media screen and (min-width: $screen-md-min) {
					padding: 10px 20px 18px;
				}

				@media screen and (min-width: $screen-sm-min) {
					padding-left: 25px;
					padding-right: 25px;
				}

				@media screen and (max-width: $screen-sm-min) {
					font-size: 14px;
				}
			}
		}

		> li.active > a {

			&:after {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(79, 158, 178, 0);
				border-top-color: #4f9eb2;
				border-width: 7px;
				margin-left: -7px;
			}
		}
	}

	.navbar-collapse {

		@media screen and (max-width: $screen-sm-min) {
			border: 0;
			box-shadow: none;
			margin: 0 -15px;
			text-align: center;

			ul {
				margin-top: 0;
			}
		}
	}

	.navbar-right {

		@media screen and (min-width: $screen-md-min) {
			text-align: right;
		}

		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			margin-top: -95px;
		}

		@media screen and (max-width: $screen-sm-min) {
			left: 80px;
			position: absolute;
			top: -4px;
		}

		.navbar-lang {
			margin-bottom: 15px;
			margin-top: 10px;

			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
				display: inline-block;
				margin-right: 10px;
			}

			> li > a {
				font-size: 12px;
				padding: 4px 6px;
				text-transform: uppercase;

				img {
					margin-right: 2px;
					position: relative;
					top: -1px;
				}
			}

			> li.active > a {
				background-color: #3e7b8b;
			}
		}

		.navbar-calendar,
		.navbar-form {
			display: inline-block;
		}

		.navbar-calendar {
			font-size: 14px;

			span {
				margin-right: 3px;
			}
		}

		.navbar-form {
			margin-bottom: 0;
			margin-top: 0;
			padding-right: 0;
			position: relative;

			@media screen and (max-width: $screen-sm-min) {
				border: 0;
				box-shadow: none;
			}

			.form-group {

				@media screen and (max-width: $screen-sm-min) {
					float: left;
				}
			}

			.form-control {
				border: 0;
				font-size: 14px;
				height: 35px;

				@media screen and (min-width: $screen-sm-min) {
					min-width: 270px;
				}

				@media screen and (max-width: $screen-sm-min) {
					max-width: 250px;
				}

				@media screen and (max-width: $screen-xs-min) {
					max-width: 130px;
				}
			}

			.btn {
				background-color: #3e7b8b;
				border: 0;
				border-radius: 0;
				color: #fff;
				height: 35px;
				margin-left: -5px;

				&:hover, &:focus {
					background-color: darken(#3e7b8b, 5%);
				}
			}
		}
	}
}

.navbar-toggle {
	margin-right: 0;
	padding-right: 0;
	position: relative;

	@media screen and (max-width: $screen-sm-min) {

		&:before {
			background-color: #fff;
			content: "";
			height: 54px;
			left: -6px;
			position: absolute;
			top: -9px;
			width: 2px;
		}
	}
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Content
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.content {
	position: relative;
}

@media screen and (max-width: $screen-md-min) {

	.content [class*="col-"] {
		margin-bottom: 40px;
	}
}

.list-posts {
	margin-bottom: 35px;

	@media screen and (max-width: $screen-sm-min) {
		margin-top: -20px;
	}

	.post-content {
		position: relative;

		.post-content-inner {

			@media screen and (min-width: $screen-lg-min) {
				height: 350px;
				overflow: hidden;
			}

			@media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
				height: 400px;
				overflow: hidden;
			}

			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
				height: 320px;
				overflow: hidden;
			}

			@media screen and (max-width: $screen-sm-min) {
				height: auto;
				overflow: visible;
			}

			.post-date {
				font-size: 13px;
			}

			img {
				width: 100%;

				@media screen and (max-width: $screen-sm-min) {
					padding-top: 20px;
				}
			}
		}

		.read-more {
			bottom: -10px;
			position: absolute;
			right: 15px;

			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
				bottom: -15px;
			}

			@media screen and (max-width: $screen-sm-min) {
				bottom: -30px;
			}
		}
	}
}

.read-more {
	float: right;
	font-size: 12px;

	&:hover, &:focus {
		text-decoration: none;
	}

	span {
		font-size: 20px;
		font-weight: $semibold;
		margin-right: 5px;
	}
}

.link-all {
	height: 25px;
	position: relative;
	width: 100%;

	a {
		float: right;
	}

	span {
		background-color: #fff;
		padding-left: 10px;
		position: relative;
		z-index: 1;
	}

	.fa {
		font-size: 15px;
		margin-left: 7px;
		padding-left: 0;
		position: relative;
		top: 1px;
	}

	&:after {
		background-color: #e2f3f7;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		top: 10px;
		width: 100%;
	}
}

hr {
	border-color: transparent;
	margin: 15px 0;

	@media screen and (max-width: $screen-sm-min) {
		margin: 10px 0;
	}
}

.list-group {

	.list-group-item {
		background-color: $brand-second;
		border-color: #fff;
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-width: 2px;
		color: $brand-primary;
	}

	.active > a {
		background-color: $brand-primary;
		color: #fff;
	}
}

.tab-content {

	p {

		@media screen and (max-width: $screen-sm-min) {
			border-top: 1px solid #ddd;
			font-size: 14px;
			padding-top: 10px;
		}
	}

	.fa {
		margin-right: 6px;
	}
}

.media {
	margin-bottom: 20px;

	@media screen and (max-width: $screen-sm-min) {
		margin-bottom: 0;
	}

	.media-left {
		float: left;
		margin-right: 20px;
	}

	h3 {

		@media screen and (max-width: $screen-sm-min) {
			font-size: 14px;
		}

		span {
			display: block;
			font-size: 14px;
			margin-bottom: 15px;
			margin-top: 10px;

			@media screen and (max-width: $screen-sm-min) {
				font-size: 13px;
				margin-bottom: 0;
			}
		}
	}

	p {
		font-size: 13px;

		@media screen and (max-width: $screen-sm-min) {
			border-top: 0;
			padding-top: 0;
		}
	}
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/*  Footer
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.footer {

	.footer-top {
		background-color: $brand-second;
		border-top: 2px solid $brand-primary;
		font-size: 13px;
		margin-top: 50px;
		padding: 40px 0;

		@media screen and (max-width: $screen-sm-min) {
			margin-top: 30px;
			padding-top: 15px;
		}

		h5 {
			color: #333;
			font-size: 15px;
			font-weight: $semibold;
			margin-bottom: 15px;

			@media screen and (max-width: $screen-sm-min) {
				margin-top: 25px;
			}
		}

		a {
			color: $brand-third;
		}

		ul {
			margin-bottom: 0;

			li {
				margin-bottom: 8px;
			}
		}

		.list-arrows {

			li {

				&:before {
					color: #db3721;
					content: "\f061";
					font-family: "FontAwesome";
					display: inline-block;
					margin-right: 5px;
				}

				> a {
					font-weight: $semibold;
				}
			}
		}

		.footer-social-media {
			margin-top: 20px;
			text-align: right;

			@media screen and (max-width: $screen-sm-min) {
				text-align: left;
			}

			ul {
				display: inline-block;

				li {
					margin-bottom: 0;
					padding: 0 10px;

					@media screen and (max-width: $screen-sm-min) {
						padding: 0 1px;
					}
				}

				li:first-child {
					font-size: 15px;
					font-weight: $semibold;
					position: relative;
					top: -7px;

					@media screen and (max-width: $screen-sm-min) {
						display: block;
					}
				}
			}

			a {
				background-color: $brand-primary;
				color: #fff;

				&:hover, &:focus {
					background-color: darken(#3e7b8b, 5%);
				}
			}

			.email-alerts {
				position: relative;
				top: -7px;

				> a {
					font-size: 16px;
					padding: 16px 30px;

					&:hover, &:focus {
						text-decoration: none;
					}
				}
			}

			.footer-facebook,
			.footer-twitter {

				a {
					display: inline-block;
					font-size: 35px;
					line-height: 54px;
					text-align: center;
					width: 54px;
				}
			}
		}
	}

	.footer-bottom {
		background-color: $brand-primary;
		color: #fff;
		padding: 15px;

		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			font-size: 13px;
		}

		@media screen and (max-width: $screen-sm-min) {
			font-size: 12px;
			text-align: center;
		}

		a {
			color: #fff;

			&:hover, &:focus {
				color: #c6e7ef;
				text-decoration: none;
			}
		}

		.footer-links {
			text-align: right;

			@media screen and (max-width: $screen-sm-min) {
				margin-bottom: 10px;
				text-align: center;
			}

			ul {
				margin-bottom: 0;

				li {

					@media screen and (max-width: $screen-sm-min) {
						padding: 0 2px;
					}
				}

				li:before {
					content: "|";
					margin-right: 13px;

					@media screen and (max-width: $screen-sm-min) {
						margin-right: 5px;
					}
				}

				li:first-child:before {
					content: "";
					margin-right: 0;
				}
			}
		}
	}
}
